.hr{ color:#963;
width:inherit;

}
.well{min-height:20px;
padding:19px;
margin-bottom:20px;
background-color:#F5D0A9;
border:1px solid #996633;
border-radius:4px;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
box-shadow:inset 0 1px 1px rgba(0,0,0,.05)
}

.well-lg{padding:24px;border-radius:6px}
.well-directors-speech{
	
	padding:24px;border-radius:6px
		min-height:200;
	}
	


