body {
    /*padding-top: 0px;*/
    /* 60px to make the container go all the way to the bottom of the topbar */
}

.vertical-line {
    display: inline;
    background-color: #000;
    width: 1px;
    height: 100%;
}

.navbar-jacaranda,
.dropdown-menu {
    background-color: #963;
    border-radius: 0px;
}

.navbar-jacaranda .navbar-nav > li > a{
    color: white;
}
.navbar-nav > li > .dropdown-menu > li > a {
    color: white;
}
.navbar-default .navbar-nav > .active > a{
	color: #fff;
	background-color: #a74;
}
.navbar-default{
	border: 0px;	
}
#welcome-note{
	padding-left: 40px;
	text-align: justify;
}
.navbar-default .dropdown-menu > li > a:hover{
	background-color: #a74;
}
.navbar-default .navbar-nav > .open > a:focus{
	background-color: #a74;
}
.navbar-default .navbar-nav > .open > a:hover{
	background-color: #a74;
}
.navbar-default .navbar-nav > .open > a{
	background-color: #a74;
}
.values{
    text-align: justify;
    padding-top: 40px;  
}
