body {
    padding-top: 40px;
    /* 60px to make the container go all the way to the bottom of the topbar */
}

.vertical-line {
    display: inline;
    background-color: #000;
    width: 1px;
    height: 100%;
}

.navbar-jacaranda,
.dropdown-menu {
    background-color: #963
}

.navbar-jacaranda .navbar-nav > li > a{
    color: white;
}
.navbar-nav > li > .dropdown-menu > li > a {
    color: white;
}